@font-face {
  font-family: header;
  src: url('./fonts/Ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: accent;
  src: url('./fonts/Ubuntu/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: accent-light;
  src: url('./fonts/Ubuntu/Ubuntu-Regular.ttf');
}

form {
	border: thin solid #ddd;
  background-color: #fbfbfb;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.header {
  font-family: header;
	text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}